@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

/*body {*/
/*    background-image: url("textureBack.jpg");*/
/*   */
/*}*/

nav {
    height: 75px;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.nav-link:hover {
    text-decoration: none;
    border: none;
}

.topButtons {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    color: sienna;
    font-size: 23px;
    padding: 0;
}

li>a:active {
    background-color: #2d334a;
}

.topButtons:hover {
    color: saddlebrown;
    font-weight: bold;
}

.coffee {
    width: 250px;
    height: 250px;
    border-radius: 25%;
    box-shadow: 5px 10px 1px #2d334a;
    -webkit-transition: all 0.5s ease-in-out;
}

#coffeeBagPic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 150px;
    width: 100px;
}

.coffee:hover {
    -webkit-transform: scale(1.1);
}

/*#coffeeListBackground {*/
/*    background-image: url("monstera-repeat1.jpg");*/
/*    background-repeat: repeat;*/
/*}*/

#nav-img {
    height: 75px;
}
#myTab {
    border: none;
}
